.fua{
      margin-right: 50px;
}
.crsd-fet{

      height: 100px;
      background-color: #fff;
      border: #fff;
      margin: 10px;
      
}

.crsd-fet:hover{
      opacity: 1;
      border: black;
      box-shadow: 5px 5px 5px 5px black;
      .icn{
            color: black;
      }
      
}

.icn{
      padding-right: 70px;
      width: 10px;
      font-size: 50px;
      color: cadetblue;
}

.fet{
      padding-right: 5px;
}